<h2 class="is-size-4 m-t2 m-b1">Search Results</h2>

{{#if recipe.noRecipe}}
<article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
        <div class="content has-text-centered">
            <h3 class="is-size-5">Sorry, there are no recipes that meet your search criteria.</h3>
            <p>Please try searching our expanded files on the right of this page.</p>
        </div>
    </div>
    <div class="media-right">
    </div>
</article>

{{else}}

{{#each recipe}}
{{!-- recipe result block --}}
<article class="media">
    <figure class="media-left">
        <p class="image is-128x128">
            <img src="{{image}}" alt="placeholder" width="128px">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <a href="/recipe/{{id}}" data-id="{{id}}">
                    <strong>{{title}}</strong>
                </a>
                <br>
                <span>{{description}}</span>
            </p>
            <p>
                {{createdAt}}
            </p>
        </div>
    </div>
</article>
{{/each}}
{{/if}}