<section class="hero is-fullheight">
    <div class="hero-body index-padding">
        <div class="container">
            <div class="columns is-centered is-10">
                <div class="column is-6 is-offset-1" id="recipe-content">
                    <h2 id="recipe-page-name" class="is-size-3">{{recipe.title}}</h2>
                    <div id="recipe-page-description">
                        <br>
                        <p>{{recipe.description}}</p>
                    </div>
                </div>
                <div class="column">
                    <img src="../img/spoons-sm-right.png" alt="spoons picture">
                </div>
            </div>
            <div class="columns is-centered is-10">
                <div class="column is-2 box m-r2">
                    <img id="recipe-page-picture" src="{{recipe.image}}" alt="placeholder">
                    <p class="is-size-5">Ingredients</p>
                    <ul id="recipe-page-ingredient-list">
                        {{> ingredients-block}}
                    </ul>
                    <p id="date-line" class="m-t2">Added: <span id="date-added">{{recipe.createdAt}}</span></p>
                </div>
                <div class="column is-7 box">
                    <p id="recipe-page-instructions" class="is-size-5">Instructions</p>
                    <p>{{recipe.instructions}}</p>
                </div>
            </div>
        </div>
    </div>
</section>