<div class="container">
    <div class="columns is-centered">
        <div class="column is-7 is-offset-1">
            {{!-- API Block --}}
            <h2 class="is-size-4 m-t2 m-b1">Search Results</h2>
            {{!-- recipe result block --}}
            {{#each recipe}}
            <article class="media m-b2">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <a href="{{url}}" target="_blank">
                            <img src="{{image}}" class="search-img">
                        </a>
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{{url}}" data-id="{{id}}">
                                <strong>{{title}}</strong>
                            </a>
                        </p>
                        <p>
                            <span>Ready in <strong>{{readyTime}} mins</strong></span>
                        </p>
                        <p>
                            <span>Servings: <strong>{{servings}}</strong></span>
                        </p>
                    </div>
                </div>
            </article>
            {{/each}}
        </div>
        {{!-- sidebar --}}
        <div class="column has-text-centered">
            <img src="../../img/spoons-sm-right.png" alt="spoons picture" class="is-hidden-mobile">
            <div class="search-options box m-t2">
                <h3 class="is-size-5 m-t2">Search For Additional Recipes Here</h3>
                <form class="level m-t1">
                    <input type="text" name="add-search" id="add-search" class="input">
                    <button id="search-button" class="button">
                        <img src="../../img/fe_search.svg" alt="search icon">
                    </button>
                </form>
                <h3 class="is-size-5 m-t2">Add A Recipe To The Community</h3>
                <button class="button is-peach is-medium m-t1 m-b2" onclick="location.href='/add-recipe'">Click To
                    Add</button>
            </div>
        </div>
    </div>
</div>